.dayMobile {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    flex-direction: row;
}

.weekDayText {
    font-family:'Montserrat Alternates Medium';
}

.dayBorder {
    margin: 15px 0 5px 0;
}

@font-face {
    font-family: "Montserrat Alternates Medium";
    src: url("../../../public/fonts/MontserratAlternates-Medium.ttf");
  }